@page "/auctions"
@attribute [Authorize(Permissions.Auction)]

<PageTitle>My Auctions</PageTitle>

<h3>Auctions you started</h3>

@if (Model == null) return;

<div class="row">
	<div class="col-sm-2">
		<a href="@($"auctions/new")" class="btn btn-success table-btn" data-toggle="tooltip" data-placement="bottom" title="Add">
			<i class="oi oi-book"></i> Add new
		</a>
	</div>
</div>

<div>
	<p>AICI:</p>
	<i class="fas fa-angle-down"></i>
	<i class="fas fa-home"></i>
</div>


<table class="table table-striped table-hover">
	<thead>
		<tr style="text-align: center;">
			<th class="sort-header" @onclick="@(() => SortAuctions("Title"))">	
				Title
			</th>

			<th class="sort-header" @onclick="@(() => SortAuctions("Category"))">
				Category
			</th>

			<th class="sort-header" @onclick="@(() => SortAuctions("Start Date"))">
				Opening time
			</th>

			<th class="sort-header" @onclick="@(() => SortAuctions("End Date"))">
				Closing time
			</th>

			<th>
				Starting Bid
			</th>

			<th>
				Current Bid
			</th>	

			<th>
				Auction status
			</th>

			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Auctions)
		{
			<tr style="text-align: center;">
                <td><a href="@($"auctions/{item.Id.ToString()}/view")" data-toggle="tooltip" data-placement="bottom">@item.Title</a></td>
				<td>@item.Category</td>
				<td>@item.StartDate.ToString("dd/MM/yyyy HH:mm")</td>
				<td>@item.EndDate.ToString("dd/MM/yyyy HH:mm")</td>
				<td>@item.StartingBidAmount</td>
				<td>
					@if (@item.CurrentBidAmount == 0)
					{
						<i>-</i>
					}
					else
					{
						@item.CurrentBidAmount.ToString();
					}
				</td>
				<td>
					@if (@item.EndDate > DateTime.Now)
					{
						<p style="color: green">ACTIVE</p>
					}
					else
					{
						<p style="color: red">CLOSED</p>
					}
				</td>
				<td>
					<a href="@($"auctions/{item.Id.ToString()}")" class="btn btn-warning table-btn" @onclick="@(() => ShowWarnings(item, "edit"))" data-toggle="tooltip" data-placement="bottom" title="Edit">
						Edit
                    </a>
					<a href="@($"auctions")" class="btn btn-danger table-btn" @onclick="@(() => DeleteItem(item))" data-toggle="tooltip" data-placement="bottom" title="Delete">
                        Delete
                    </a>
				</td>
			</tr>
		}
	</tbody>
</table>

<ConfirmationDialog Title="Confirm delete"
					CloseEventCallback="@OnConfirmationDeleteDialogClosed"
					@ref="@ConfirmationDeleteDialog"></ConfirmationDialog>