@page "/auctions"
@attribute [Authorize(Permissions.Auction)]

<PageTitle>My Auctions</PageTitle>

<h3>Auctions you started</h3>

@*<p>Here's a list of the auctions you started.</p>*@

@if (Model == null) return;

<a href="@($"auctions/new")" class="btn btn-success table-btn" data-toggle="tooltip" data-placement="bottom" title="Add">
	<i class="oi oi-book"></i> Add new
</a>
 
<table class="table table-striped table-hover w-75">
	<thead>
		<tr>
			<th>Title</th>
			<th>Opening time</th>
			<th>Closing time</th>
			<th>Current Bid</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Auctions)
		{
			<tr>
				<td>@item.Title</td>
				<td>@item.StartDate.ToString("dd/MM/yyyy HH:mm")</td>
				<td>@item.EndDate.ToString("dd/MM/yyyy HH:mm")</td>
				<td>
					@if (@item.CurrentBidAmount == 0)
					{
						<i>-</i>
					}
					else
					{
						@item.CurrentBidAmount.ToString();
					}
				</td>
				<td>
					<a href="@($"auctions/{item.Id.ToString()}")" class="btn btn-primary table-btn" data-toggle="tooltip" data-placement="bottom" title="Edit">
						Edit
                    </a>
                    <a href="#" class="btn btn-danger table-btn" @*@onclick="@(() => DeleteTodo(item))"*@ data-toggle="tooltip" data-placement="bottom" title="Delete">
                        Delete
                    </a>
				</td>
			</tr>
		}
	</tbody>
</table>