@using System;
@using System.Text.RegularExpressions;

@page "/auctions/new"
@attribute [Authorize(Permissions.Auction)]

<PageTitle>New Auction</PageTitle>

<h3>Create auction</h3>

@if (Model == null) return;

<section>
	<EditForm Model="@Model.Auction" OnValidSubmit="@AddAuction">

		<DataAnnotationsValidator />

		<!-- Title -->
		<div class="form-group row">
			<label for="title" class="col-sm-3">Title</label>
			<InputText id="title" class="form-control col-sm-8" @bind-Value="@Model.Auction.Title" />
			<ValidationMessage class="validation-error" For="@(() => Model.Auction.Title)" />
		</div>

		<!-- Description-->
		<div class="form-group row">
			<label for="description" class="col-sm-3">Description</label>
			<InputTextArea id="description" class="form-control col-sm-8" rows="5" @bind-Value="@Model.Auction.Description" />
			<ValidationMessage class="validation-error" For="@(() => Model.Auction.Description)" />
		</div>

		<!-- Opening and closing date -->
		<div class="row">
			<div class="form-group col-sm-5">
				<label for="start-date" class="col-sm-3">Opening date</label>
				<InputDate id="start-date" class="form-control col-sm-6" @bind-Value="@Model.Auction.StartDate" />
				<ValidationMessage class="validation-error" For="@(() => Model.Auction.StartDate)" />
			</div>
			<div class="form-group col-sm-5	">
				<label for="end-date" class="col-sm-3">Closing date</label>
				<InputDate id="end-date" class="form-control col-sm-6" @bind-Value="@Model.Auction.EndDate" />
				<ValidationMessage class="validation-error" For="@(() => Model.Auction.EndDate)" />
			</div>
		</div>

		<!-- Category -->
		<div class="form-group row">
			<label for="category" class="col-sm-4">Category</label>
			<InputText id="category" class="form-control col-sm-8" @bind-Value="@Model.Auction.Category" />
			<ValidationMessage class="validation-error" For="@(() => Model.Auction.Category)" />
		</div>

		<!-- Bids and prices -->
		<div class="row">
			<div class="form-group col-sm-3">
				<label for="starting-bid-amount">Starting bid</label>
				<InputNumber step="0.1" id="starting-bid-amount" class="form-control col-sm-3" @bind-Value="@Model.Auction.StartingBidAmount" />
				<ValidationMessage class="validation-error" For="@(() => Model.Auction.StartingBidAmount)" />
			</div>

			<div class="form-group col-sm-3">
				<label for="buy-it-now-price">Buy it now price</label>
				<InputNumber step="0.1" id="buy-it-now-price" class="form-control col-sm-3" @bind-Value="@Model.Auction.BuyItNowPrice" />
				<ValidationMessage class="validation-error" For="@(() => Model.Auction.BuyItNowPrice)" />
			</div>
			
			<div class="form-group col-sm-3">
				<label for="reserve-price">Reserve price</label>
				<InputNumber step="0.1" id="reserve-price" class="form-control col-sm-3" @bind-Value="@Model.Auction.ReservePrice" />
				<ValidationMessage class="validation-error" For="@(() => Model.Auction.ReservePrice)" />
			</div>
		</div>
		
		<!-- Delivery -->
		<div class="form-group col-sm-4">
			<label for="delivery-method" class="col-sm-4">Delivery method</label>
			<InputSelect @bind-Value="@Model.Auction.DeliveryMethod" required>
				@foreach (var method in Methods)
				{
					<option value="@method">@Regex.Replace(method.ToString(), "(\\B[A-Z])", " $1")</option>
				}
			</InputSelect>
			<ValidationMessage class="validation-error" For="@(() => Model.Auction.DeliveryMethod)" />
		</div>

		<!-- SUBMIT -->
		<button type="submit" class="btn btn-success" id="save">Save</button>
	</EditForm>
</section>

<div>
	<a href="/auctions">Take me back</a>
</div>