@using System;
@using System.Text.RegularExpressions;
@using Cegeka.Auction.WebUI.Client.Pages.Auction.Bids;

@page "/auctions/{auctionId}/view"
@attribute [Authorize(Permissions.Auction)]

<PageTitle>View Auction </PageTitle>

@if (Model == null)
{
    return;
}

<h1 class="mb-4">@Model.Auction.Title</h1>

<div class="row" style="margin-left: -10px;">
    <div class="col-md-8" style="margin-left: 10px;">
        <div class="col-md-4 mb-4">
            <img src="@Model.Auction.Images.FirstOrDefault()" class="img-fluid" alt="Auction Item Image" />
        </div>

        <h3>Description</h3>
        @if (Model.Auction.Description.Split(" ").Length <= 170)
        {
            <p>@Model.Auction.Description</p>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <p style="text-indent: 30px;">
                        @foreach (var word in Model.Auction.Description.Split(" "))
                        {
                            <span>@word </span>
                            if (word.EndsWith(".") || word.EndsWith(",") || word.EndsWith("?"))
                            {
                                <br />
                            }
                        }
                    </p>
                </div>
            </div>
        }

        <h3>Details</h3>
        <table class="table" style="width: 50%;">
            <tbody>
                <tr>
                    <td>
                        <span class="oi oi-person" aria-hidden="true"></span>
                        <strong>Auctioneer</strong>
                    </td>
                    <td>
                        @AuctioneerUsername
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="oi oi-tag" aria-hidden="true"></span>
                        <strong>Category:</strong>
                    </td>
                    <td>@Model.Auction.Category</td>
                </tr>
                <tr>
                    <td>
                        <span class="oi oi-dollar" aria-hidden="true"></span>
                        <strong>Starting Bid Amount:</strong>
                    </td>
                    <td>@Model.Auction.StartingBidAmount</td>
                </tr>
                <tr>
                    <td>
                        <span class="oi oi-dollar" aria-hidden="true"></span>
                        <strong>Current Bid Amount:</strong>
                    </td>
                    <td>@Model.Auction.CurrentBidAmount</td>
                </tr>
                <tr>
                    <td>
                        <span class="oi oi-dollar" aria-hidden="true"></span>
                        <strong>Buy It Now Price:</strong>
                    </td>
                    <td>@Model.Auction.BuyItNowPrice</td>
                </tr>
                <tr>
                    <td>
                        <span class="oi oi-dollar" aria-hidden="true"></span>
                        <strong>Reserve Price:</strong>
                    </td>
                    <td>@Model.Auction.ReservePrice</td>
                </tr>
                <tr>
                    <td>
                        <span class="oi oi-calendar" aria-hidden="true"></span>
                        <strong>Start Date:</strong>
                    </td>
                    <td>@Model.Auction.StartDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td>
                        <span class="oi oi-calendar" aria-hidden="true"></span>
                        <strong>End Date:</strong>
                    </td>
                    <td>@Model.Auction.EndDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td>
                        <span class="oi oi-signpost" aria-hidden="true"></span>
                        <strong>Delivery Method:</strong>
                    </td>
                    <td>@Model.Auction.DeliveryMethod</td>
                </tr>
                <tr>
                    <td>
                        <span class="oi oi-person" aria-hidden="true"></span>
                        <strong>Winning Bidder</strong>
                    </td>
                    <td>
                        @(Model.Auction.WinningBidder == null ? "N/A" : @WinningBidderUsername)
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="oi oi-check status-icon" aria-hidden="true"></span>
                        <strong>Status</strong>
                    </td>
                    <td>
                        @Model.Auction.Status
                    </td>
                </tr>
                @if (CurrentUserId == @Model.Auction.CreatedBy)
                {
                    <tr>
                        <td>
                            <span class="oi oi-loop-square" aria-hidden="true"></span>
                            <strong>Actions</strong>
                        </td>
                        <td>
                            @* Status -> AwaitingValidation = 5*@
                            <button class="btn btn-success shadow-sm" disabled="@(Model.Auction.Status == 5 ? false : true)" @onclick="ValidateAuction">
                                Validate
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        @if(TimeLeft.Days >= 0) 
        {
            <br />

            <h3>Time Left</h3>
            <p>@TimeLeft.Days days, @TimeLeft.Hours hours, @TimeLeft.Minutes minutes, @TimeLeft.Seconds seconds</p>
        }

        @if (CurrentUserId == Model.Auction.CreatedBy)
        {
            <br />

            <button class="btn btn-success shadow-sm" disabled="@(!BuyItNowAvailable)" @onclick="BuyAuction">
                <div class="row">
                    <div class="col-sm-12">Buy it now</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">$@Model.Auction.BuyItNowPrice</div>
                </div>
            </button>

            <button class="btn btn-primary ml-2" @onclick="@PlaceBidForItem">Place Bid</button>

            <br />
        }

        <br />

        <h3>Bidding History</h3>
        <ul>
            @foreach (var bid in Model.Auction.BiddingHistory)
            {
                <li>@bid.CreatedBy - @bid.Amount</li>
            }
        </ul>
    </div>
</div>

<div class="row">
	<a href="/auctions">Take me back</a>
</div>


<BidDialog Title="Bid" Content="The bid that you place must to be bigger than the starting bid: "
           @ref="_bidDialog" PlaceBidEventCallback="@DialogAddForPlaceBid"></BidDialog>




