@using System;
@using System.Text.RegularExpressions;
@using Cegeka.Auction.WebUI.Client.Pages.Auction.Bids;

@page "/auctions/{auctionId}/view"
@attribute [Authorize(Permissions.Auction)]

<PageTitle>View Auction </PageTitle>

@if (Model == null)
{
    return;
}

<h1 class="mb-4">@Model.Auction.Title</h1>

<div class="row" style="margin-left: -10px;">
    <div class="col-md-8" style="margin-left: 10px;">
        <div class="col-md-4 mb-4">
            <img src="@Model.Auction.Images.FirstOrDefault()" class="img-fluid" alt="Auction Item Image" />
        </div>

        <h3>Description</h3>
        @if (Model.Auction.Description.Split(" ").Length <= 170)
        {
            <p>@Model.Auction.Description</p>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <p style="text-indent: 30px;">
                        @foreach (var word in Model.Auction.Description.Split(" "))
                        {
                            <span>@word </span>
                            if (word.EndsWith(".") || word.EndsWith(",") || word.EndsWith("?"))
                            {
                                <br />
                            }
                        }
                    </p>
                </div>
            </div>
        }

        <h3>Details</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Category:</strong></td>
                    <td>@Model.Auction.Category</td>
                </tr>
                <tr>
                    <td><strong>Starting Bid Amount:</strong></td>
                    <td>@Model.Auction.StartingBidAmount</td>
                </tr>
                <tr>
                    <td><strong>Current Bid Amount:</strong></td>
                    <td>@Model.Auction.CurrentBidAmount</td>
                </tr>
                <tr>
                    <td><strong>Buy It Now Price:</strong></td>
                    <td>@Model.Auction.BuyItNowPrice</td>
                </tr>
                <tr>
                    <td><strong>Reserve Price:</strong></td>
                    <td>@Model.Auction.ReservePrice</td>
                </tr>
                <tr>
                    <td><strong>Start Date:</strong></td>
                    <td>@Model.Auction.StartDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td><strong>End Date:</strong></td>
                    <td>@Model.Auction.EndDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td><strong>Delivery Method:</strong></td>
                    <td>@Model.Auction.DeliveryMethod</td>
                </tr>
            </tbody>
        </table>

        <h3>Time Left</h3>
        <p>@TimeLeft.Days days, @TimeLeft.Hours hours, @TimeLeft.Minutes minutes, @TimeLeft.Seconds seconds</p>

        <button class="btn btn-success shadow-sm" disabled="@(!BuyItNowAvailable)">
            <div class="row">
                <div class="col-sm-12">Buy it now</div>
            </div>
            <div class="row">
                <div class="col-sm-12">$@Model.Auction.BuyItNowPrice</div>
            </div>
        </button>

        <button class="btn btn-primary ml-2" @onclick="@PlaceBidForItem">Place Bid</button>

        <h3>Bidding History</h3>
        <ul>
            @foreach (var bid in Model.Auction.BiddingHistory)
            {
                <li>@bid.UserId - @bid.Amount</li>
            }
        </ul>
    </div>
</div>

<div class="row">
	<a href="/auctions">Take me back</a>
</div>


<BidDialog @ref="_bidDialog" Title="Bid" Content="Place a bid for this item: "
           PlaceBidEventCallback="@DialogAddForPlaceBid"></BidDialog>




